extends layout

block content
  h2 About Apps Attic Ltd

  h3 About Us
  p.
    We're a small company specialising in open source web apps. We love JavaScript and we write most of
    our stuff in <a href="https://nodejs.org/">Node.js</a> and <a href="https://facebook.github.io/react/">ReactJS</a>.
  p.
    We have created many applications which range from developer productivity (e.g. <a
    href="https://cssminifier.com/">CSS Minifier</a>) to <a href="https://imagelicious.org/">personal consumption</a>.

  h3 Open Source
  p.
    All of our apps are Open Source (various licenses) and can be found on our <a
    href="https://github.com/appsattic/">AppsAttic</a> GitHub page.

  h3 Article/Blog Post License
  p
    | All content on this site, including articles and blog posts are licensed under 
    a(href="https://creativecommons.org/licenses/by-sa/4.0/") Creative Commons Attribution Share-Alike license
    | .

  h3 Code License
  p All code on this site is licensed under the ISC license.

  pre.
    ISC License

    Copyright (c) 2016, Apps Attic Ltd.

    Permission to use, copy, modify, and/or distribute this software for any
    purpose with or without fee is hereby granted, provided that the above
    copyright notice and this permission notice appear in all copies.

    THE SOFTWARE IS PROVIDED "AS IS" AND THE AUTHOR DISCLAIMS ALL WARRANTIES
    WITH REGARD TO THIS SOFTWARE INCLUDING ALL IMPLIED WARRANTIES OF
    MERCHANTABILITY AND FITNESS. IN NO EVENT SHALL THE AUTHOR BE LIABLE FOR
    ANY SPECIAL, DIRECT, INDIRECT, OR CONSEQUENTIAL DAMAGES OR ANY DAMAGES
    WHATSOEVER RESULTING FROM LOSS OF USE, DATA OR PROFITS, WHETHER IN AN
    ACTION OF CONTRACT, NEGLIGENCE OR OTHER TORTIOUS ACTION, ARISING OUT OF
    OR IN CONNECTION WITH THE USE OR PERFORMANCE OF THIS SOFTWARE.

  p (Ends)
