extends layout

block content
  h2(style="margin-bottom: 1em; text-align: center;") Open Source Projects
  .row

    .col-md-4.col-sm-6
      .well
        a(href='/project/imagelicious/')
          img.img-responsive(src='/s/img/imagelicious-320x200.png', alt='imagelicious.org - An open source, simple to use personal photo gallery built on Firebase.')
        h3 imagelicious.org
        p An open source, simple to use personal photo gallery built on Firebase.
        ul
          li Uses Firebase Authentication
          li A Single-Page App built with ReactJS
          li Bundled using Browserify
          li Creates thumbnails inside the browser
        .c
          a.btn.btn-default(href='https://imagelicious.org/') View Demo
          a.btn.btn-default(href='https://github.com/appsattic/imagelicious.org') Source Code

    .col-md-4.col-sm-6
      .well
        a(href='/project/publish/')
          img.img-responsive(src='/s/img/publish-320x200.png', alt='publish.li - Publish your articles with ease.')
        h3 publish.li
        p Publishing site with instant-publish capabilites (no login required):
        ul
          li Written in Go
          li Uses BoltDB embedded key/value store
          li Frontend written with Vue.js
        .c
          a.btn.btn-default(href='https://publish.li/') View Site
          a.btn.btn-default(href='https://github.com/appsattic/publish.li') Source Code

    .col-md-4.col-sm-6
      .well
        a(href='/project/bcrypt/')
          img.img-responsive(src='/s/img/bcrypt-320x200.png', alt='bcrypt.org - Simple server with API to check your bcrypt password strategy.')
        h3 bcrypt.org
        p Simple server with API to check your bcrypt password strategy.
        ul
          li Written in Go
          li Simple API
          li Use in your unit tests
          li Independent validation of your passwords
        .c
          a.btn.btn-default(href='https://bcrypt.org/') View Site
          a.btn.btn-default(href='https://github.com/appsattic/bcrypt.org') Source Code

  .row
    .col-md-6
      h2(style="margin-bottom: 1em; text-align: center;") Latest Posts
      p.c
        for post in blog.latest
          a(href="/blog/" + post.name)= post.meta.title
          br
    .col-md-6
      h2(style="margin-bottom: 1em; text-align: center;") Latest Tweets
