doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/s/css/style.css')
  body
    header.container
      p
        a(href="/") AppsAttic
        |  :: 
        a(href="/blog/") Blog
        |  :: 
        a(href="/about") About

    .container
      block content

    footer.container
      p.c
        a(href="https://twitter.com/AppsAtticLtd") Twitter
        |  :: 
        a(href="https://github.com/appsattic") GitHub
        |  :: 
        a(href="/") Website
      p.c
        | Copyright 
        a(href="/") Apps Attic Ltd
        |  2010-2016. Please see 
        a(href="/about") About
        |  for licensing information.
